{% extends "LayoutBundle:Default:product.html.twig" %}
{% block product %}
    {% for entities in entities %}
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="{{asset('ecommerce/images/shop/product12.jpg')}}" alt="" />
                    <h2>Rp {{entities.harga}}</h2>
                    <p>{{entities.nama}}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>Rp {{entities.harga}}</h2>
                        <p>{{entities.nama}}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="{{ path('product_show', { 'id': entities.id }) }}"><i class="fa fa-plus-square"></i>Detail Product</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock product %}
